@charset "UTF-8";
ul, ol, li, dl, dd, dt {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-weight: normal;
}
.introjs-overlay{
	background:rgba(0,0,0,.9);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	opacity: 0.8;
	z-index: 999999;
	transition: all 0.3s ease-out;
	color: #fff;
	display: flex;
    flex-direction: column;
}
.introjs-overlay .introjs-tip{
	font-size: 2rem;
	margin-top: 15%;
	margin-left: 5%;
	height: 20vh;
}
.introjs-overlay .introjs-tip li:nth-child(3){
	color: red;
}
.introjs-overlay li{
    overflow: hidden;
    padding: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}
.introjs-button {
	display: flex;
    justify-content: center;
    margin-top: 3%;
}
.introjs-arrow {
	height: 22vh;
	position: relative;
}
.introjs-arrow .bind_phone{
	position: absolute;
	left: 5%;
	bottom: 0;
}
.introjs-arrow .bind_bank{
	position: absolute;
	right: 5%;
    bottom: 0%;
}
.introjs-highlight {
	width: 100vw;
    height: 21.3vh;
    position: fixed;
    top: 30.7%;
    z-index: 999999;
}
.introjs-highlight .blank{
	width: 20vw;
    height: 20vw;
	border-radius: 999em;
	background-color: white;
	right: 8%;
    position: absolute;
}

.introjs-highlight .phone{
	width: 20vw;
    height: 20vw;
	border-radius: 999em;
	background-color: white;
	right: 39%;
    bottom: 0%;
    position: absolute;
}
.introjs-highlight .blank i {
	background: url(../../src/assets/images/account/account_bankcard_ico@2x.png);
  	background-size: 100% 100%;
}
.introjs-highlight .phone i {
  	background: url(../../src/assets/images/account/account_phone_ico@2x.png);
  	background-size: 100% 100%;
}
.introjs-highlight > div {
    opacity: 1;
    text-align: center;
}
.introjs-highlight > div >i {
	display: block;
    width: 0.64rem;
    height: 0.64rem;
    background: #000;
    margin: 0.2rem auto;
}
.introjs-highlight > div > em {
    font-size: 0.25rem;
    font-weight: bold;
    color: #2b2b2b;
}
.introjs-highlight .blank{
    height: 1.6rem;
}
@media (max-width: 1023px){
}


@media (max-width: 414px) {
	.introjs-highlight {
		top: 38.7%;
    	height: 23.3vh;
	}
	 .introjs-arrow {
	    height: 28vh;
	}
}
@media (max-width: 411px) {
	.introjs-highlight {
		top: 33.7%;
    	height: 22.3vh;
	}
}
/*
@media (max-width: 375px) {
	.introjs-highlight {
		top: 38%;
    	height: 23.3vh;
	}
}
@media (max-width: 320px) {
	.introjs-highlight {
		top: 39.7%;
    	height: 22.3vh;
	}
	 .introjs-arrow {
	    height: 29vh;
	}
	.introjs-overlay li {
		line-height: 14px;
		font-size: 1em;
	}
}*/
